# Godot 4+ specific ignores
.godot/
Tools/target
Builds/*
theme.tres
addons/luaAPI/bin/~libluaapi.windows.template_debug.x86_64.dll
addons/discord-sdk-gd/bin/windows/~discord_game_sdk_binding_debug.dll
